.home-page{
    min-height:100vh;
    padding:30px;
}

/* MENU BUTTON */

.menu-btn{
    position:fixed;
    top:20px;
    left:20px;
    width:50px;
    height:50px;
    border:none;
    border-radius:10px;
    background:#111;
    color:white;
    font-size:25px;
    cursor:pointer;
    z-index:100;
    transition:0.2s;
}

.menu-btn:hover{
    background:#1a1a1a;
}

/* SIDEBAR */

.sidebar{
    position:fixed;
    top:0;
    left:-250px;
    width:150px;
    height:100vh;
    background:#0f0f0f;
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:30px 20px;
    transition:0.3s ease;
    z-index:200;
    border-right:1px solid #2c2c2c;
}

.sidebar.open{
    left:0;
}

/* SIDEBAR LINKS */

.sidebar a{
    color:rgb(162, 162, 162);

    text-decoration:none;

    font-size:17px;

    padding:20px;

    border-radius:10px;

    transition:0.2s;
}

.sidebar a:hover{
    background:#141414;
}

/* CLOSE BUTTON */

.close-btn{
    align-self:flex-end;
    background:none;
    border:none;
    color:white;
    font-size:25px;
    border-radius: 5px;
    background-color: #454545;
    cursor:pointer;
}

/* SEARCH */

.search-container{
    display:flex;
    gap:10px;
    margin-top:80px;
    margin-bottom:40px;
}

.search-bar{
    flex:1;

    padding:15px;

    border:none;
    border-radius:12px;

    background:#111;

    color:white;

    font-size:16px;

    outline:none;
}

.search-bar::placeholder{
    color:#777;
}

.search-btn{
    padding:15px 25px;

    border:none;
    border-radius:12px;

    background:rgb(151, 151, 151);

    color:black;

    font-weight:bold;

    cursor:pointer;

    transition:0.2s;
}

.search-btn:hover{
    transform:scale(1.03);
}

/* SONGS */

.music-link{
    margin:12px 0;

    padding:18px;

    cursor:pointer;
    background:#111;
    color:white;
    border-radius:10px;

    font-size:20px;

    text-decoration:none;

    display:block;

    transition: ease-in;
    border:none;
}

.music-link:hover{
    background:#121212;
}

.main-content{
    transition:0.3s ease;
}

/* SHIFT CONTENT WHEN SIDEBAR OPENS */

.main-content.shift{
    transform:translateX(150px);
}